/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerMedium.eot');
    src: local('Muller Medium'), local('MullerMedium'),
        url('./assets/fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/MullerMedium.woff2') format('woff2'),
        url('./assets/fonts/MullerMedium.woff') format('woff'),
        url('./assets/fonts/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerRegular.eot');
    src: local('Muller Regular'), local('MullerRegular'),
        url('./assets/fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/MullerRegular.woff2') format('woff2'),
        url('./assets/fonts/MullerRegular.woff') format('woff'),
        url('./assets/fonts/MullerRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('./assets/fonts/MullerBold.eot');
    src: local('Muller Bold'), local('MullerBold'),
        url('./assets/fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/MullerBold.woff2') format('woff2'),
        url('./assets/fonts/MullerBold.woff') format('woff'),
        url('./assets/fonts/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* FONTS */
/* ALL */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-box {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.content-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.gap-5 {
    gap: 5px;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}
.gap-20 {
    gap: 20px;
}
.container {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Muller';
}
/* ALL */
/* HEADER */
.header {
    background-color: #fff;
    padding: 20px;
}
.header_content {
    gap: 64px;
}
.header_menu {
    list-style: none;
    gap: 32px;
}
.header_menu-item {
    padding: 4px 10px;
}
.header_menu-item--active,
.header_menu-item:active {
    border: 2px solid #57D272;
}
.header_menu-link {
    color: #07060B;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    transition: all .3s linear;
}
.header_menu-item:hover > .header_menu-link {
    color: #46F4DB;
}
.header_wallet {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: #07060B;
    border: none;
    border-radius: 77px;
    padding: 17px 43px;
    cursor: pointer;
    transition: all .3s linear;
}
.header_wallet:hover {
    background-color: #46F4DB;
    color: #07060B;
}
.header_wallet:active {
    background-color: #57D272;
    color: #07060B;
}
/* HEADER */
/* BANNER */
.banner {
    position: relative;
    background-color: #07060B;
    padding: 145px 0;
    background-image: url(./../img/stickers_hero.png);
    background-repeat: no-repeat;
    background-position: right;
}
.banner_picture {
    float: right;
}
.banner > .container {
    gap: 36px;
}
.banner_title {
    font-family: "Russo One", sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 85px;
    color: #fff;
    max-width: 631px;
}
.banner_buttons {
    gap: 32px;
}
.banner_button-buy,
.banner_button-author {
    border: none;
    border-radius: 40px;
    padding: 25px 54px;
    background: linear-gradient(180deg, #46F4DB 27.08%, #57D272 100%);
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #07060B;
    cursor: pointer;
    transition: all .3s linear;
}
.banner_button-buy:hover {
    color: #07060B;
    background: #57D272;
}
.banner_button-buy:active {
    color: #07060B;
    background: #46F4DB;
}
.banner_button-author {
    border: 5px solid #57D272;
    background: transparent;
    color: #fff;
}
.banner_button-author:hover {
    color: #07060B;
    background: #57D272;
}
.banner_button-author:active {
    color: #07060B;
    background: #46F4DB;
    border: 5px solid #46F4DB;
}
/* BANNER */
/* MORE_AUCTION */
.more_auction {
    background-color: #fff;
    padding: 0 0 90px;
}
.more_auction > .container {
    gap: 32px;
}
.more_auction_title {
    font-family: "Russo One", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #07060B;
}
.more_auction_list {
    flex-wrap: wrap;
    gap: 32px;
}
.more_auction_item {
    flex: 1 20%;
    background-color: #EDEDF2;
    border-radius: 40px;
    padding: 7px 0 0;
}
.more_auction_info {
    width: 100%;
    padding: 16px 16px 32px 16px;
    background-color: #07060B;
    border-radius: 0 0 40px 40px;
}
.more_auction_author {
    gap: 8px;
    display: flex;
    align-items: center;
}
.more_auction_author > span {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
}
.more_auction_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
}
.more_auction_price {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #46F4DB;
}
.more_auction_time {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #95959D;
}
.more_auction_btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #07060B;
    background-color: transparent;
    border: 5px solid #46F4DB;
    border-radius: 40px;
    padding: 20px 65px;
    cursor: pointer;
    transition: all .4s linear;
}
.more_auction_btn:hover {
    background-color: #46F4DB;
}
.more_auction_btn:active {
    background-color: #57D272;
    border: 5px solid #57D272;
}
/* MORE_AUCTION */
/* SLIDER */
.slider {
    background-color: #07060B;
    padding: 90px 0;
}
.slider > .container {
    gap: 32px;
}
.sldier_title {
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 16px;
}
.slider_item {
    display: flex !important;
    align-items: center;
}
.slider_container .slick-dots {
    margin: 64px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.slider_container .slick-dots button {
    padding: 10px 24px;
    border: 1px solid #D13130;
    border-radius: 40px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
    transition: all .3s linear;
}
.slider_container .slick-dots .slick-active button {
    background-color: #D13130;
}
/* SLIDER */
/* FORM */
.form {
    background-color: #D13130;
    overflow: hidden;
}
.form_info {
    gap: 32px;
}
.form_title {
    font-family: "Russo One", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
}
.form_input {
    max-width: 460px;
    padding: 25px 10px 25px 32px;
    border: none;
    border-radius: 40px;
    background-color: #07060B;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #EDEDF2;
}
.form_btn {
    max-width: 296px;
    padding: 25px 74px;
    border: none;
    border-radius: 40px;
    background-color: #46F4DB;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #07060B;
    cursor: pointer;
    transition: all .4s linear;
}
.form_btn:hover,
.form_btn:active {
    background-color: #57D272;
    color: #fff;
}
/* FORM */
/* AUTHOR */
.author {
    padding: 90px 0;
    background-color: #fff;
}
.author > .container {
    gap: 32px;
}
.author_info {
    gap: 32px;
}
.author_title {
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    color: #07060B;
}
.author_text > b {
    font-family: "Russo One", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #07060B;
}
.author_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #07060B;
    max-width: 624px;
}
.author_form {
    width: 100%;
    gap: 32px;
}
.author_file {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.author_file_custom {
    border-radius: 40px;
    background-color: #EDEDF2;
    padding: 98px 155px;
    cursor: pointer;
}
.author_file_plus {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}
.author_file_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #95959D;
}
.author_input {
    width: 100%;
    max-width: 624px;
    padding: 25px 10px 25px 32px;
    border: none;
    border-radius: 40px;
    background-color: #EDEDF2;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #717178;
}
.author_btn {
    max-width: 296px;
    padding: 25px 74px;
    border: none;
    border-radius: 40px;
    background-color: #46F4DB;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #07060B;
    cursor: pointer;
    transition: all .4s linear;
}
.author_btn:hover,
.author_btn:active {
    background-color: #57D272;
    color: #fff;
}
/* AUTHOR */
/* TOP */
.top {
    padding: 90px 0;
    background-color: #07060B;
}
.top > .container {
    gap: 32px;
}
.top_title {
    font-family: "Russo One", sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 72px;
    color: #fff;
}
.top_users {
    flex-wrap: wrap;
    gap: 32px;
}
.top_users_item {
    flex: 1 45%;
    border-radius: 40px;
    background-color: #fff;
    padding: 16px;
}
.top_users_name {
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: #07060B;
}
.top_users_title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    color: #07060B;
}
.top_users_etn {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #07060B;
}
.top_users_usd {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    color: #95959D;
}
/* TOP */
/* FOR TOP */
.for_top {
    padding: 32px 0;
    background-color: #37373E;
}
.for_top_info-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
}
.for_top_info-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: #fff;
}
/* FOR TOP */
/* FOOTER */
.footer_content {
    width: 100%;
    padding: 20px 0;
    background-color: #46F4DB;
}
.footer_menu {
    list-style: none;
    gap: 32px;
}
.footer_menu-item {
    padding: 4px 10px;
}
.footer_menu-item--active,
.footer_menu-item:active {
    border: 2px solid #07060B;
}
.footer_menu-link {
    color: #07060B;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    transition: all .3s linear;
}
.footer_menu-link:hover {
    opacity: 50%;
}
.footer_copyright {
    width: 100%;
    padding: 8px 0;
    background-color: #07060B;
}
.footer_copyright-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #EDEDF2;
}
/* FOOTER */