/* ALL */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-box {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.content-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.gap-5 {
    gap: 5;
}
.gap-10 {
    gap: 10;
}
.gap-15 {
    gap: 15;
}
.gap-20 {
    gap: 20;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
/* ALL */
/* HEADER */
.header {
    background-color: #fff;
    padding: 20px;
}
.header_content {
    gap: 64px;
}
.header_menu {
    list-style: none;
    gap: 32px;
}
.header_menu-item {
    padding: 4px 10px;
}
.header_menu-item--active,
.header_menu-item:active {
    border: 2px solid #57D272;
}
.header_menu-link {
    color: #07060B;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    transition: all .3s linear;
}
.header_menu-item:hover > .header_menu-link {
    color: #46F4DB;
}
.header_wallet {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #fff;
    background-color: #07060B;
    border: none;
    border-radius: 77px;
    padding: 17px 43px;
    cursor: pointer;
    transition: all .3s linear;
}
.header_wallet:hover {
    background-color: #46F4DB;
    color: #07060B;
}
.header_wallet:active {
    background-color: #57D272;
    color: #07060B;
}
/* HEADER */
/* FOOTER */
.footer_content {
    width: 100%;
    padding: 20px 0;
    background-color: #46F4DB;
}
.footer_menu {
    list-style: none;
    gap: 32px;
}
.footer_menu-item {
    padding: 4px 10px;
}
.footer_menu-item--active,
.footer_menu-item:active {
    border: 2px solid #07060B;
}
.footer_menu-link {
    color: #07060B;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    transition: all .3s linear;
}
.footer_menu-link:hover {
    opacity: 50%;
}
.footer_copyright {
    width: 100%;
    padding: 8px 0;
    background-color: #07060B;
}
.footer_copyright-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #EDEDF2;
}
/* FOOTER */